body {
    background-color: #fff !important;
}

/* LEFT NAVBAR START */
.left_col {
    background: #1c394f;
}
/* left-top-corner-logo */
.nav_title{
  margin:15px;
}

/* green button - post a job */
.post_job{
  background-color: #00e9b4;
  color: #1c394f;
  border: 1px solid #00e9b4;
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  height: 40px;
  margin-top: 20px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px
}
/* user (name and company) */
.profile_info span{
  font-family: 'Roboto', sans-serif!important;
  color: #fff!important;
  font-size: 14px!important;
}
.profile_info h2{
  color:#00e9b4!important;
  font-size:11px!important;
  font-family: 'Roboto', sans-serif!important;
}
/* fix space between nav sections */
.nav>li>a {
    padding: 5px 15px 12px!important;
}

/*  nav sections styles */
.side-menu span active {
    font-family: 'Roboto', sans-serif!important;
    color: #00e9b4;
}

/*  Top nav text style */
.nav_menu{
  border-bottom: 2px solid #E6E9ED;
  padding-bottom: 10px
}
.nav_menu a{
  color:#1c394f;
  font-size: 16px;
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
  margin-left:20px
}

.nav_menu_green_text{
  color:#009686!important;
  font-family: 'Roboto', sans-serif!important;
  font-weight: normal!important;
}

.dropdown-menu a:hover {
  background-color:#2A3F54!important;
  margin-left: 0px!important;
  padding-left:20px;
  color:white!important
}
.nav_menu span{
  float:right;
  float: left;
  color:#999999;
  font-size: 16px;
  font-family: 'Roboto', sans-serif!important;
  margin-top: 6px;
}
.top-nav-dropdown{
  float:right;
}
.dropdown{
    float: right;
}

.open>.dropdown-menu {
    display: grid!important;
}

.green-button-right{
  border: 2px solid #009686!important;
  border-radius: 7px!important;
}
.active-deco {
  width: 66px;
  height: 2.5px;
  padding-bottom:31px;
  border-bottom: 4px solid #00e9b4;
}
.toggle a {
  position: relative;
    top: -12px;
    left: 10px;
}
/*  TABLE styles */

th{
    font-family: 'Roboto', sans-serif!important;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    color: var(--warm-grey);
}
.td_names{
  font-family: 'Roboto', sans-serif!important;
  font-size: 14px;
  position: relative;
  top: 2px;
  padding-left:5px;
  color: #1c394f;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0px solid #ddd!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd!important;
}
.table-bordered {
    border: 0px solid #ddd!important;
}
td {
  padding-top: 11px!;
}
.table-bordered>tbody>tr>td {
  padding-top: 15px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif!important;
}
.td-green-numb{
  color:#009686!important;
  font-weight: bold;
}
.td-candidates{
  position: relative;
  top: -1px
}
.table>tbody>tr>td{
  padding-top: 14px!important;
}
/*  JOBS DETAILS SCREEN CSS */

.h1{
  font-family: Roboto!important;
  font-size: 30px;
  line-height: 0.6!important;
  color: #1c394f!important;
  float:left
}

.nav-edit-ad{
  float:right;
  padding-top:10px;
  color:#009686!important;
  text-decoration: underline;
  font-weight: normal!important
}
.name-active{
  color:white!important;
}

.employeer-position{
  position: relative;
  top: 10px;
  left: -90px;
  color:#999999;
}
.employeer-name{
  position: relative;
  bottom: 10px;
  color:#1c394f;
  font-weight: bold
}
.name, .name-active{
  margin:0px
}
.nav_menu {
    float: left;
    margin-bottom: 10px;
    width: 67%;
    position: relative;
}
